* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}
.btns {
  padding: 8px;
  margin-right: 6px;
  background: transparent;
  border: none;
  border: 0.6px solid rgb(119, 59, 109);
  border-radius: 25px;
  color: white;
  background-color: rgb(119, 59, 109);
  cursor: pointer;
  width: 20%;
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
}

.btns:hover {
  background-color: #42013c;
  color: white;
  transition: 0.5s;
}
